[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
pypdf = "*"
python-multipart = "*"
jinja2 = "*"
seaborn = "*"
flask = "*"
werkzeug = "*"
pypdf2 = "*"
plotly = "*"
numpy = "*"
mock = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
